
ProyectoDePrueba/.vs/ProyectoDePrueba/v16/Server/sqlite3/db.lock
ProyectoDePrueba/.vs/ProyectoDePrueba/v16/Server/sqlite3/storage.ide-wal
ProyectoDePrueba/.vs/ProyectoDePrueba/v16/Server/sqlite3/storage.ide-wal
ProyectoDePrueba/.vs/ProyectoDePrueba/v16/.suo
ProyectoDePrueba/.vs/ProyectoDePrueba/v16/Server/sqlite3/storage.ide-wal
ProyectoDePrueba/.vs/ProyectoDePrueba/v16/Server/sqlite3/storage.ide-wal
